.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9000;
}

.modal-content {
    background-color: var(--m-white);
    padding: 24px;
    border-radius: var(--rounded-lg);
    border: 1px solid var(--color-border-default);
    width: 100%;
    max-width: 450px;
    box-shadow: var(--shadow-md);
}

.modal-header {
    margin-bottom: 16px;
}

.modal-footer {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}